body{
    overflow: hidden; /* Hide scrollbars */
    margin: auto;
}
.topnav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40px;
}
.topnav img{
    width: 40px;    
    height: 40px;
}

html { 
    background: url(assets/sacha-gregoire-vh0FucFJ7pw-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Josefin Sans", sans-serif;
  }
  .center{
    max-width: 100%;
    width: 400px;
    height: 600px;
    position: absolute; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
    line-height: 0.99;
    overflow: hidden
  }
 
  .landing h1{
    margin-top: 240px;
    color: #FFDD55;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    font-size: 55px;
    /* background: #ffffff; */
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.landing span{
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-weight: 100;
}

.explore{
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
.explore button{
    display: flex;
    background-color: #ffdd5500;
    border: 1px solid #FFDD55;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
    animation: fadeInAnimation ease 5s;
    -webkit-animation: fadeInAnimation ease 5s;
  -moz-animation: fadeInAnimation ease 5s;
  -o-animation: fadeInAnimation ease 5s;
  -ms-animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;

}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.explore a{
    text-decoration: none;
    color: #FFDD55;
    letter-spacing: 1.5;
    transition: all 0.5s ease-out;

}
.explore button:hover{
    background-color: #FFDD55;
    border: 1px solid #FFDD55;
}
.explore a:hover, a:focus{
    text-decoration: none;
    background-color: #ffdd5500;
    color: #ffffff;

}

/* Page 2 */
.selection{
    background: url(assets/sacha-gregoire-vh0FucFJ7pw-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
.landing2 h1{
    margin-top: 300px;
    color: #FFDD55;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 55px;
    /* background: #ffffff; */
    font-family: "Josefin Sans", sans-serif;
    /* letter-spacing: -1px; */
}
.form{
    max-width: 100%;
    color: #ffffff;
    position: absolute; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    overflow: auto;
    text-align: center;
    line-height: 0.99;
  }
.landing2 span{
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-weight: 100;
}
.explore2{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    display: flex;
    gap: 25px;
    text-align: center;
}
.explore2 button{
    background-color: #ffdd55;
    border: 1px solid #FFDD55;
    border-radius: 20px;
    padding: 10px 20px;
    transition: scale 2s;

}
.explore2 a{
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: #FF543E;
    letter-spacing: 1.5;
    transition: scale 2s;
    font-size: 13px;

}
.explore2 button:hover{
    background-color: #ffffff00;
    border: 1px solid #ffffff;
    scale: 1.2;
}
.explore2 a:hover{
    text-decoration: none;
    color: #ffffff;

}

.form input{
    border-radius: 15px;
    background: none;
    color: #ffffffef;
    border: 1px solid #FFDD55;
    padding: 10px;
    margin: 10px;
}
form ::placeholder{
    color: #ffffff;
}
form{
    margin-top: -30px;
}
.public{
    margin-top: 95px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: 100;
}
.public a{
    text-decoration: none;
    color: #ffffff;
}
/* responsive design */
/* small phone */
@media screen and (max-width: 320px) {
   .landing h1{
    font-size: 45px;
    margin-top: 240px;
   }
   .landing2 h1{
    margin-top: 300px;
    font-size: 48px;
  }
}

/* Tablet */
/* @media screen and (max-width: 768px) {
    .landing h1{
        font-size: 65px;
        margin-top: 215px;
       }
       .landing2 h1{
        margin-top: 435px;
        font-size: 65px;
      }
} */