body{
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin: auto;
}
body::-webkit-scrollbar {
    display: none;
}
.topnav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 40px;
    animation: fadeInAnimation ease 5s;
    -webkit-animation: fadeInAnimation ease 5s;
  -moz-animation: fadeInAnimation ease 5s;
  -o-animation: fadeInAnimation ease 5s;
  -ms-animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
}
.topnav img{
    width: 40px;    
    height: 40px;
}


html { 
    background-color: #ffffff;
    font-family: "Josefin Sans", sans-serif;
  }
  .welcome{
    background: url(assets/sacha-gregoire-vh0FucFJ7pw-unsplash.jpg) no-repeat center center fixed; 
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .center{
    max-width: 100%;
    width: 400px;
    height: 600px;
    position: absolute; /*Can also be `fixed`*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    text-align: center;
    line-height: 0.99;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
  }
  .landing{
    height: 500px;
  }
 .landing p{
    margin-top: 30px;
    color: #ffffff;
    animation: fadeInAnimation ease 2s;

 }
  .landing h1{
    margin-top: 150px;
    color: #ffdd55;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    /* background: #ffffff; */
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    animation-duration: 3s;
    animation: fadeInAnimation ease 3s;
}

.landing #topic{
    font-family: "Josefin Sans", sans-serif;
    margin-top: 0px;
    font-size: 55px;
    animation-name: scaleUp;
}

.landing span{
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-weight: 100;
}

.explore{
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}
.explore button{
    display: flex;
    background-color: #ffdd5500;
    border: 1px solid #FFDD55;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
    animation: fadeInAnimation ease 5s;
    -webkit-animation: fadeInAnimation ease 5s;
  -moz-animation: fadeInAnimation ease 5s;
  -o-animation: fadeInAnimation ease 5s;
  -ms-animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;

}
.explore a{
    text-decoration: none;
    color: #FFDD55;
    letter-spacing: 1.5;
    transition: all 0.5s ease-out;

}
.explore button:hover{
    background-color: #FFDD55;
    border: 1px solid #FFDD55;
}
.explore a:hover, a:focus{
    text-decoration: none;
    background-color: #ffdd5500;
    color: #ffffff;

}

/* test animation */
.animate {
    font-size: 35px;
    letter-spacing: normal;
    margin: 200px 0 0;
}
  
.animate span {
    display: inline-block;
  }
.animate span:nth-of-type(2) {
    animation-delay: .05s;
  }
  .animate span:nth-of-type(3) {
    animation-delay: .1s;
  }
  .animate span:nth-of-type(4) {
    animation-delay: .15s;
  }
  .animate span:nth-of-type(5) {
    animation-delay: .2s;
  }
  .animate span:nth-of-type(6) {
    animation-delay: .25s;
  }
  .animate span:nth-of-type(7) {
    animation-delay: .3s;
  }
  .animate span:nth-of-type(8) {
    animation-delay: .35s;
  }
  .animate span:nth-of-type(9) {
    animation-delay: .4s;
  }
  .animate span:nth-of-type(10) {
    animation-delay: .45s;
  }
  .animate span:nth-of-type(11) {
    animation-delay: .5s;
  }
  .animate span:nth-of-type(12) {
    animation-delay: .55s;
  }
  .animate span:nth-of-type(13) {
    animation-delay: .6s;
  }
  .animate span:nth-of-type(14) {
    animation-delay: .65s;
  }
  .animate span:nth-of-type(15) {
    animation-delay: .7s;
  }
  .animate span:nth-of-type(16) {
    animation-delay: .75s;
  }
  .animate span:nth-of-type(17) {
    animation-delay: .8s;
  }
  .animate span:nth-of-type(18) {
    animation-delay: .85s;
  }
  .animate span:nth-of-type(19) {
    animation-delay: .9s;
  }
  .animate span:nth-of-type(20) {
    animation-delay: .95s;
  }


.seven span {
    color: #FFDD55;
    opacity: 0;
    transform: translate(-150px, 0) scale(.3);
    animation: leftRight .5s forwards;
  }
  
  
  @keyframes leftRight {
    40% {
      transform: translate(50px, 0) scale(.7);
      opacity: 1;
      color: #559495;
    }
  
    60% {
      color: #0f40ba;
    }
  
    80% {
      transform: translate(0) scale(2);
      opacity: 0;
    }
  
    100% {
      transform: translate(0) scale(1);
      opacity: 1;
    }
  }
  

/* Page 2 */
.selection{
    background: url(assets/sean-oulashin-KMn4VEeEPR8-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
	animation: scaleUp .9s; 
    animation-timing-function: linear;
}

.landing2 h1{
    margin-top: 250px;
    margin-bottom: 40px;
    color: #FFDD55;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    font-family: "Josefin Sans", sans-serif;
  
}
.form{
    max-width: 90%;
    color: #ffffff;
    position: absolute; /*Can also be `fixed`*/
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    overflow: auto;
    text-align: center;
    line-height: 0.99;
    overflow: hidden;
    animation-delay: 3s;
    animation: fadeInAnimation ease 5s;
}
.landing2 span{
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    font-weight: 100;
}
.explore2{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
    display: flex;
    gap: 25px;
    text-align: center;
}
.explore2 button{
    background-color: #FF543E;
    border: 1px solid #FF543E;
    border-radius: 20px;
    padding: 10px 20px;
    transition: scale 2s;

}
.explore2 a{
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    letter-spacing: 1.5;
    transition: scale 2s;
    font-size: 13px;

}
.explore2 button:hover{
    background-color: #ffffff00;
    border: 1px solid #FFDD55;
    scale: 1.2;
}
.explore2 a:hover{
    text-decoration: none;
    color: #ffffff;

}

.form input{
    border-radius: 15px;
    background: none;
    color: #ffffffef;
    border: 1px solid #FFDD55;
    padding: 10px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
}

form ::placeholder{
    color: #ffffff;

}
.form input:focus{
    border: 1px solid #ffffff;
    outline: none;
    transform: scale(1.2);

}

form{
    margin-top: -30px;
}
.public{
    margin-top: 95px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: 200;
}
.public a{
    text-decoration: none;
    color: #ffffff;
}

/* User profile css */

.avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #FFDD55;
}
.profile{
    position: absolute;
    top: 8px;
    right: 15px;
}
.proname p{
    display: inline-block;
    margin-top: 8px;
}
.timer{
    margin-inline: auto;
    left: 50%;
    right: 50%;
    width: 120px;
    height: 60px;
    text-align: center;
}
#demo{
    font-size: 20px;
    margin-top: 30px;
  }
.title{
    left: 50%;
    right: 50%;
    text-align: center;
    font-size: 12px;
}
.cardtitle{
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
    padding-left: 10px;
}
.location{
    font-size: 12px;
    color: #707070;
}
.uname{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 3px;
}

.playerimg{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.usertext{
    padding-left: 4px;
    vertical-align: middle;
    display:inline-block;
}
.couple{
    text-align: center;
    border-bottom: 1px solid #C9C9C9;
    height: 30px;
}
.couple a{
    text-decoration: none;
    color: #FF543E;
}
.players{
    margin-top: 10px;
}
.couplepage{
    transition: all;
    animation: scaleUp .4s; 
}

/* Welcome page */
.banner {
    position: relative;
    height: 500px;
  }
  
  .banner-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
  }
  
  .banner-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }
  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: #fff;
  }
  
  .banner-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .banner-text p {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
/* Key Frames */
@keyframes scaleUp {
	from { opacity: 0; transform: scale(.10); }
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}





/* responsive design */
/* small phone */
@media screen and (max-width: 320px) {
   .landing h1{
    font-size: 45px;
    margin-top: 240px;
   }
   .landing2 h1{
    margin-top: 160px;
    font-size: 40px;
  }
}

/* Tablet */
/* @media screen and (max-width: 768px) {
    .landing h1{
        font-size: 65px;
        margin-top: 215px;
       }
       .landing2 h1{
        margin-top: 435px;
        font-size: 65px;
      }
} */