<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=0" >
    <title>Account Set-Up</title>
    <link rel="icon" type="image/x-icon" href="assets/DDSbluelogo copy.png">

    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />

</head>
<body>
    <div class="selection">
        <div class="topnav">
            <a href="index.html">
              <img src="assets/Untitled-1 copy.png" alt="" />
            </a>
          </div>
    <div class="form">
        <div class="landing2">
            <h1>Summer <span>Games</span></h1>
        </div>
        <div>
          <p>Welcome to Island Games! Think Love Island meets The Circle. We've carefully selected the hottest singles from Instagram, using a mix of mutual connections and your social media interactions. Get ready to meet some fresh GEMS or perhaps even some familiar crushes!</p>
        </div>
          <form action="/check" method="POST">
              <input type="text" id="username" name="username" placeholder="Username" value=""><br>
              <input type="password" id="password" name="password" placeholder="Password" value=""><br>

              <div class="explore2">
                <button type="submit" id="login">Log In
                </button>
              </div>
          </form>
      
        
          <div class="public">
            <a href="userprofile.html">
                <p>Continue as Guest...</p>
            </a>
          </div>
    </div>
       
    </div>
    
    <script src="/script.js"></script>
</body>
</html>