<%- include("partials/header.ejs") %>

<body>
  <div class="couplepage">
    <div class="profile">
      <div class="proimg">
        <img src="/images/etty-fidele-jhD3hdnlBww-unsplash.jpg" alt="Avatar" class="avatar">
      </div>
      <div class="proname">
        <p>Username</p>
      </div>
    </div>
    <div class="timer">
      <p id="demo"></p>
    </div>

    <div class="title">
      <h2>Couple Up</h2>
    </div>

    <div class="players">
      <div class="cardtitle">
        <img src="images/igor-starkov-f4mLA8nDbRg-unsplash.jpg" alt="Avatar" class="avatar">
      </div>
      <div class="usertext">
        <div class="uname">lianatambini</div>
        <div class="location">Calgary, Alberta</div>
       </div>
      <div class="cardimg">
        <img src="images/jeffery-erhunse-BQMZ5ligqps-unsplash.jpg" alt="Avatar" class="playerimg">
      </div>
      <div class="couple">
        <a href="#">Couple</a>
      </div>
    </div>


    <div class="players">
      <div class="cardtitle">
        <img src="images/jeffery-erhunse-BQMZ5ligqps-unsplash.jpg" alt="Avatar" class="avatar">
      </div>
      <div class="usertext">
        <div class="uname">tias.shea</div>
        <div class="location">Toronto, Ontario</div>
       </div>
      <div class="cardimg">
        <img src="images/jeffery-erhunse-BQMZ5ligqps-unsplash.jpg" alt="Avatar" class="playerimg">
      </div>
      <div class="couple">
        <a href="#">Couple</a>
      </div>
    </div>
  </div>
    
</body>
</html>